<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main class="container-md mt-1">
    <h1 th:text="${formTitle}" class="text-center"></h1>
    <form method="post"
          th:action="@{/}"
          class="w-50 mx-auto">
        <div class="form-group mt-4">
            <label for="name" class="form-label">Imie:</label>
            <input id="name"
                   class="form-control"
                   th:name="name"
                   th:value="${clientsAttributes.login}"
                   type="text"
                   required/>
        </div>

        <div class="form-group mt-4">
            <label for="rating" class="form-label">Ocena:</label>
            <input id="rating"
                   class="form-control"
                   step="0.1"
                   th:name="rating"
                   th:value="${clientsAttributes.imie}"
                   type="number"/>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <input type="reset" class="btn btn-warning mt-2 col-md-5" value="Reset"/>
            <input type="submit" class="btn btn-warning mt-2 col-md-5" value="Zapisz"/>
        </div>
    </form>
</main>

</body>
</html>