<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dodaj pakiet wyżywienia</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" th:src="@{/js/file.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}"/>

</head>
<body>
<div sec:authorize="hasAuthority('WLASCICIEL')">
    <nav th:replace="fragments/navbar :: navbar"></nav>
</div>

<div sec:authorize="hasAuthority('PRACOWNIK')">
    <nav th:replace="fragments/navbarPracownik :: navbarPracownik"></nav>
</div>

<div class="container-md" style="margin-top:80px; margin-bottom: 50px">

    <img class="rounded mx-auto d-block" th:src="@{/img/logo.png}" width="150" height="150">

    <h1 th:text="${formTitle}" class="text-center"></h1>

    <form id="html5Form"
          method="post"
          th:action="@{/pakietyWyzywien/dodaj}"
          class="w-50 mx-auto was-validated">

        <div class="form-group mt-4">
            <label for="typ" class="form-label">Typ pakietu:</label>
            <input id = "typ"
                   class="form-control"
                   th:name="typ"
                   th:value="${pakietyWyzywienAttributes.typ}"
                   type="text"
                   maxlength="30"
                   minlength="3"
                   placeholder="Wprowadź typ pakietu"
                   required />

            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane! </div>
        </div>

        <div class="form-group mt-4">
            <label for="cena_dzien" class="form-label">Cena pakietu za dzień:</label>
            <input id="cena_dzien"
                   class="form-control"
                   th:name="cena_dzien"
                   th:value="${pakietyWyzywienAttributes.cena_dzien}"
                   type="number"
                   step="0.01"
                   max="9999.99"
                   min="0"
                   placeholder="Wprowadź cenę pakietu"
                   required/>

            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <input type="reset" class="btn btn-dark mt-2 col-md-5" value="Reset"/>
            <input type="submit" class="btn btn-dark mt-2 col-md-5" value="Zapisz"/>
        </div>

    </form>
</div>

</body>
</html>