<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa rezerwacja</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" th:src="@{/js/file.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}"/>

</head>
<body>
<nav th:replace="fragments/navbarKlient :: navbar"></nav>

<div class="container-md" style="margin-top:80px; margin-bottom: 50px">

    <form id="html5Form"
          method="post"
          th:action="@{/rezerwacje/dodaj-rezerwacja}"
          class="w-50 mx-auto was-validated">

        <img class="rounded mx-auto d-block" th:src="@{/img/logo.png}" width="150" height="150">

        <h1 th:text="${formTitle}" class="text-center"></h1>

        <div th:if="${param.data}" class="alert alert-danger mx-auto">
            <strong>Błędna data rezerwacji! </strong>Data końca musi być późniejsza od daty początku rezerwacji.
        </div>
        <div th:if="${param.brak}" class="alert alert-danger mx-auto">
            <strong>Brak miejsc w podanym terminie!</strong>
        </div>

        <div class="form-group mt-4 date">
            <label for="data_od" class="form-label">Data Początku:</label>
            <input id="data_od"
                   class="form-control"
                   th:name="data_od"
                   th:value="${rAttributes.data_od}"
                   type="date"
                   th:max="${#temporals.format(featureDate, 'yyyy-MM-dd')}"
                   th:min="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                   placeholder="Wprowadź date początku"
                   required/>

            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="form-group mt-4 date">
            <label for="data_do" class="form-label">Data Końca:</label>
            <input id="data_do"
                   class="form-control disabled"
                   th:name="data_do"
                   th:value="${rAttributes.data_do}"
                   type="date"
                   th:max="${#temporals.format(featureDate, 'yyyy-MM-dd')}"
                   th:min="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                   placeholder="Wprowadź date końca"
                   required/>

            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <input type="reset" class="btn btn-dark mt-2 col-md-5" value="Reset"/>
            <input type="submit" class="btn btn-dark mt-2 col-md-5" value="Zapisz"/>
        </div>

    </form>
</div>

</body>
</html>