<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja rezerwacji</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" th:src="@{/js/file.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/file.css}"/>

</head>
<body>


<div sec:authorize="hasAuthority('WLASCICIEL')">
    <nav th:replace="fragments/navbar :: navbar"></nav>
</div>

<div sec:authorize="hasAuthority('PRACOWNIK')">
    <nav th:replace="fragments/navbarPracownik :: navbarPracownik"></nav>
</div>

<div class="container-md" style="margin-top:80px; margin-bottom: 50px">

    <img class="rounded mx-auto d-block" th:src="@{/img/logo.png}" width="150" height="150">

    <h1 th:text="${formTitle}" class="text-center"></h1>

    <form id="html5Form"
          method="post"
          th:action="${'/rezerwacje/edit/' + rAttributes.id_rezerwacji}"
          class="w-50 mx-auto was-validated">

        <div class="form-group mt-4 date">
            <label for="data_od" class="form-label">Data Początku:</label>
            <input id="data_od"
                   class="form-control"
                   th:name="data_od"
                   th:value="${rAttributes.data_od}"
                   type="date"
                   max="3000-31-12"
                   min="1900-01-01"
                   placeholder="Wprowadź date początku"
                   readonly/>
            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="form-group mt-4 date">
            <label for="data_do" class="form-label">Data Końca:</label>
            <input id="data_do"
                   class="form-control"
                   th:name="data_do"
                   th:value="${rAttributes.data_do}"
                   type="date"
                   max="3000-31-12"
                   min="1900-01-01"
                   placeholder="Wprowadź date końca"
                   readonly/>
            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="form-group mt-4 date">
            <label for="status" class="form-label">Status rezerwacji:</label>
            <input id="status"
                   class="form-control"
                   th:name="status"
                   th:value="${rAttributes.status}"
                   type="text"
                   maxlength="30"
                   minlength="3"
                   placeholder="Wprowadź status rezerwacji"
                   required/>
            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="form-group mt-4 date">
            <label for="status_platnosci" class="form-label">Status płatności:</label>
            <input id="status_platnosci"
                   class="form-control"
                   th:name="status_platnosci"
                   th:value="${rAttributes.status_platnosci}"
                   type="text"
                   maxlength="20"
                   minlength="3"
                   placeholder="Wprowadź status płatności"
                   required/>
            <div class="valid-feedback">Zweryfikowano</div>
            <div class="invalid-feedback">Pole wymagane!</div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <input type="reset" class="btn btn-dark mt-2 col-md-5" value="Reset"/>
            <input type="submit" class="btn btn-dark mt-2 col-md-5" value="Zapisz"/>
        </div>

    </form>
</div>

</body>
</html>